<html>
<div class="table-responsive">
    <table class="table" id="users">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>E-mail</th>
        <th>Given Name</th>
        <th>Family Name</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody hx-swap="outerHTML" hx-target="closest tr">
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.givenName}"></td>
        <td th:text="${user.familyName}"></td>
        <td>
            <button class="btn btn-primary" hx-trigger="click"
                    th:hx-get="@{admin/users/{userId}/edit(userId=${user.id})}"
            >Edit
            </button>
        </td>
    </tr>
    </tbody>
</table>
</div>
</html>