<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="uploads w-100" th:fragment="uploads">
    <div class="row gx-3 gy-3">
        <div class="col-12 col-md-6" th:each="file : ${files}">
            <img class="w-100 p-2 border border-2 border-danger" th:src="${file}"/>
        </div>
    </div>
</div>

<tr th:fragment="users-row" th:object="${user}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.givenName}"></td>
    <td th:text="${user.familyName}"></td>
    <td>
        <button class="btn btn-primary" hx-trigger="click"
                th:hx-get="@{admin/users/{userId}/edit(userId=${user.id})}"
        >Edit
        </button>
    </td>
</tr>

<tr hx-trigger='cancel' th:fragment="users-row-edit" th:object="${user}">
    <td th:text="${user.id}"></td>
    <input name="id" th:value="${user.id}" type="hidden">
    <td>
        <input aria-label="Username" class="form-control" id="username" name="username" required
               th:value="${user.username}"/>
    </td>
    <td>
        <input aria-label="E-mail" class="form-control" id="email" name="email" required th:value="${user.email}"/>
    </td>
    <td>
        <input aria-label="Given Name" class="form-control" id="givenName" name="givenName" required
               th:value="${user.givenName}"/>
    </td>
    <td>
        <input aria-label="Family Name" class="form-control" id="familyName" name="familyName" required
               th:value="${user.familyName}"/>
    </td>
    <td>
        <button class="btn btn-warning" th:hx-get="@{admin/users/{userId}(userId=${user.id})}">Cancel</button>
        <button class="btn btn-primary" hx-include="closest tr"
                th:hx-put="@{admin/users/{userId}/edit(userId=${user.id})}">Save
        </button>
    </td>
</tr>

<div class="table-responsive" th:fragment="users">
    <table class="table" id="users">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Given Name</th>
            <th>Family Name</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody hx-swap="outerHTML" hx-target="closest tr">
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.givenName}"></td>
            <td th:text="${user.familyName}"></td>
            <td>
                <button class="btn btn-primary" hx-trigger="click"
                        th:hx-get="@{admin/users/{userId}/edit(userId=${user.id})}"
                >Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>