<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--th:hx-put="@{/post/{postId}/dislike(postId=${post.getId()})}"-->

<button class="btn btn-danger"
        hx-swap="outerHTML"
        hx-target="this"
        hx-trigger="click"
        th:fragment="like-active"
        th:hx-delete="@{/post/{postId}/dislike(postId=${postId})}">
    <i aria-hidden="true" class="bi bi-heart-fill" focusable="false"></i>
    Dislike
</button>


<button class="btn btn-outline-danger"
        hx-swap="outerHTML"
        hx-target="this"
        hx-trigger="click"
        th:fragment="like-inactive"
        th:hx-put="@{/post/{postId}/like(postId=${postId})}">
    <i aria-hidden="true" class="bi bi-heart-fill" focusable="false"></i>
    Like
</button>

<!--"-->
</body>