<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--th:hx-put="@{/post/{postId}/dislike(postId=${post.getId()})}"-->

<div th:fragment="post-new">
    <form class="d-flex flex-column gap-2" hx-swap="outerHTML" hx-target="this">
        <div class="form-group">
            <textarea aria-label="Post content" class="form-control" name="content" placeholder="What is on your mind?"
                      rows="5"></textarea>
        </div>
        <div class="form-group d-flex">
            <button class="btn btn-primary" th:hx-post="@{post/new}">Post</button>
        </div>
    </form>
</div>

<button class="btn btn-danger"
        hx-swap="outerHTML"
        hx-target="this"
        hx-trigger="click"
        th:fragment="like-active"
        th:hx-delete="@{/post/{postId}/dislike(postId=${postId})}">
    <i aria-hidden="true" class="bi bi-heart-fill" focusable="false"></i>
    Dislike
</button>


<button class="btn btn-outline-danger"
        hx-swap="outerHTML"
        hx-target="this"
        hx-trigger="click"
        th:fragment="like-inactive"
        th:hx-put="@{/post/{postId}/like(postId=${postId})}">
    <i aria-hidden="true" class="bi bi-heart" focusable="false"></i>
    Like
</button>

<!--"-->
</body>