@font-face {
    font-family: Montserrat;
    src: url('/assets/Montserrat-VariableFont_wght.ttf');
    font-weight: auto;
}

body {
    font-family: "Montserrat", sans-serif
}

#users {
    vertical-align: middle;
}

.no-photo {
    aspect-ratio: 4/3;
    background-color: rgb(222, 225, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-image {
    aspect-ratio: 4/3;
    background-position: center;
}