<html
        layout:decorate="~{layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Admin</title>
    <script crossorigin="anonymous"
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
            src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body>
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5" layout:fragment="body">
        <div class="container">
            <div hx-swap="outerHTML" hx-target="this" hx-trigger="load" th:hx-get="@{/admin/users}"></div>
        </div>
    </section>
</main>
</body>
</html>
