<html
        layout:decorate="~{layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Admin</title>
    <script src="/js/htmx.min.js"></script>
</head>
<body>
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5" layout:fragment="body">
        <div class="container">
            <div class="row">
                <div hx-swap="outerHTML" hx-target="this" hx-trigger="load" th:hx-get="@{/admin/users}"></div>
                <div hx-swap="outerHTML" hx-target="this" hx-trigger="load" th:hx-get="@{/files}"></div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
