<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Club Edit</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">


    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form class="d-flex flex-column gap-2" enctype="multipart/form-data" id="club" method="post" role="form"
                  th:action="@{/clubs/{clubId}/edit(clubId=${club.getId()})}"
                  th:object="${club}">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label class="form-label" for="title">Title</label>
                        <input
                                th:field="*{title}"
                                type="text"
                                name="title"
                                id="title"
                                class="form-control"/>
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger" ></p>
                    </div>
                <div class="form-group ">
                    <label class="form-label" for="photourl">Photo URL</label>
                        <input
                                th:field="*{photoUrl}"
                                type="text"
                                class="form-control"
                                id="photourl"
                                name="photourl"/>
                        <p th:if="${#fields.hasErrors('photoUrl')}" th:errors="*{photoUrl}" class="text-danger" ></p>

                    </div>
                <div class="form-group ">
                    <label class="form-label" for="content">Content</label>
                        <input
                                th:field="*{content}"
                                type="text"
                                id="content"
                                name="content"
                                class="form-control"/>
                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger" ></p>

                    </div>

                <button type="submit" class="btn btn-primary">Save</button>

            </form>
        </div>
    </section>
</main>
</body>
</html>
