<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Club Create</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">


    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="POST" th:action="@{/clubs/new}" th:object="${club}">
                <div class="form-row">
                    <div class="form-group mb-3">
                        <label for="title">Title</label>
                        <input
                                th:field="*{title}"
                                type="text"
                                name="title"
                                id="title"
                                class="form-control">
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></p>

                    </div>
                    <div class="form-group mb-3">
                        <label for="photourl">Photo URL</label>
                        <input
                                th:field="*{photoUrl}"
                                type="text"
                                class="form-control"
                                id="photourl"
                                name="photourl">
                        <p th:if="${#fields.hasErrors('photoUrl')}" th:errors="*{photoUrl}" class="text-danger" ></p>

                    </div>
                    <div class="form-group mb-3">
                        <label for="content">Content</label>
                        <input
                                th:field="*{content}"
                                type="text"
                                id="content"
                                name="content"
                                class="form-control">
                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger" ></p>

                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>

            </form>
        </div>
    </section>
</main>
</body>
</html>
