<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{layout}">
<head>
    <title>Club Create</title>
</head>
<body>
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body">
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" th:text="*{club.title}">Running club title</h1>
                    <p class="lead mb-0">Another great running club</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!--Club Detail-->
                    <div class="card mb-4">
                        <img class="card-img-top" th:alt="${club.title}" th:if="${club.photoUrl != null}"
                             th:src="${club.photoUrl}">
                        <div class="card-body">
                            <h2 class="card-title">About this running club</h2>
                            <p class="card-text" th:text="*{club.content}"></p>
                            <div sec:authorize="isAuthenticated()" th:if="${user.id}==${club.createdBy.id}">
                                <a class="btn btn-danger" data-item="club" id="delete" th:data-id="${club.id}"
                                   th:href="@{/clubs/{clubId}/delete(clubId=${club.id})}">Delete</a>
                                <a class="btn btn-primary" th:href="@{/events/{clubId}/new(clubId=${club.id})}">Add
                                    event</a>
                                <a class="btn btn-warning"
                                   th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}">Edit</a>
                            </div>
                        </div>
                    </div>
                    <!--Club Events-->
                    <div class="row" th:if="${club.events}">
                        <div class="col-lg-6" th:each="event : ${club.events}">
                            <!-- Event -->
                            <div class="card mb-4">
                                <img alt="" class="card-img-top" th:src="${event.type.getPhotoUrl()}">
                                <div class="card-body">
                                    <div class="small text-muted" th:text="${#temporals.format(event.startTime, 'dd MMM yyyy HH:mm', #locale.ENGLISH)} +
                             ' - ' + ${#temporals.format(event.endTime, 'dd MMM yyyy HH:mm', #locale.ENGLISH)}"></div>
                                    <h2 class="card-title h4" th:text="*{event.name}"></h2>
                                    <p class="card-text"></p>
                                    <a class="btn btn-primary" th:href="@{/events/{eventId}(eventId=${event.id})}">Read
                                        more →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination-->
                    <!--  <nav aria-label="Pagination">
                          <hr class="my-0">
                          <ul class="pagination justify-content-center my-4">
                              <li class="page-item disabled"><a aria-disabled="true" class="page-link" href="#"
                                                                tabindex="-1">Newer</a></li>
                              <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                              <li class="page-item"><a class="page-link" href="#!">2</a></li>
                              <li class="page-item"><a class="page-link" href="#!">3</a></li>
                              <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                              <li class="page-item"><a class="page-link" href="#!">15</a></li>
                              <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                          </ul>
                      </nav>-->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search Clubs</div>
                        <div class="card-body">
                            <form th:action="@{/clubs/search}">
                                <div class="input-group">

                                    <input aria-describedby="button-search"
                                           aria-label="Search clubs"
                                           class="form-control"
                                           id="q"
                                           name="q"
                                           placeholder="Enter search term..." type="text">
                                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
