<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Club Create</title>
</head>
<body>
<main class="flex-shrink-0">


    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form class="d-flex flex-column gap-2" enctype="multipart/form-data" method="POST" role="form"
                  th:action="@{/clubs/new}"
                  th:object="${club}">
                <div class="form-group">
                    <label class="form-label" for="title">Title</label>
                        <input
                                th:field="*{title}"
                                type="text"
                                name="title"
                                id="title"
                                class="form-control">
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></p>

                    </div>
                <div class="form-group">
                    <label class="form-label" for="photo">Photo</label>
                    <input class="form-control" id="photo" name="photo" type="file">
                </div>
                <div class="form-group ">
                    <label class="form-label" for="content">Content</label>
                        <input
                                th:field="*{content}"
                                type="text"
                                id="content"
                                name="content"
                                class="form-control">
                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger" ></p>

                    </div>

                <button type="submit" class="btn btn-primary">Create</button>

            </form>
        </div>
    </section>
</main>
</body>
</html>
