<html
        layout:decorate="~{layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Event detail</title>
</head>
<body>
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="" layout:fragment="body">
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" th:text="*{event.name}"></h1>
                    <p class="lead mb-0" th:text="*{event.type}"></p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img alt="..." class="card-img-top"
                                          th:src="${event.photoUrl}+'?random='+${event.id}"></a>
                        <div class="card-body">
                            <div class="small text-muted" th:text="${#temporals.format(event.startTime, 'dd MMM yyyy HH:mm', #locale.ENGLISH)} +
                             ' - ' + ${#temporals.format(event.endTime, 'dd MMM yyyy HH:mm', #locale.ENGLISH)}"></div>
                            <h2 class="card-title">About this event</h2>
                            <p class="card-text" th:text="'Club: '+${event.club.title}"></p>
                            <div th:if="${user.id}==${event.club.createdBy.id}">
                                <a class="btn btn-danger"
                                   th:href="@{/events/{eventId}/delete(eventId=${event.id})}">Delete</a>
                                <a class="btn btn-warning"
                                   th:href="@{/events/{eventId}/edit(eventId=${event.id})}">Edit</a>
                            </div>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">About the club</div>
                        <div class="card-body" th:text="${event.club.content}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
