<html
        layout:decorate="~{layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Club Edit</title>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12">
                    <div class="alert alert-warning" th:if="${param.fail}">
                        Username or email already exists
                    </div>
                    <div class="login-form">
                        <form class="d-flex flex-column gap-2" method="post" role="form" th:action="@{/register/save}"
                              th:object="${user}">

                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6">
                                    <label class="form-label" for="givenName">Given Name</label>
                                    <input
                                            class="form-control"
                                            id="givenName"
                                            name="givenName"
                                            th:field="*{givenName}"
                                            type="text">
                                    <div class="text-danger form-text"
                                         th:errors="*{givenName}"
                                         th:if="${#fields.hasErrors('givenName')}">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12 col-md-6">
                                    <label class="form-label" for="familyName">Family Name</label>
                                    <input
                                            class="form-control"
                                            id="familyName"
                                            name="familyName"
                                            th:field="*{familyName}"
                                            type="text">
                                    <div class="text-danger form-text"
                                         th:errors="*{familyName}"
                                         th:if="${#fields.hasErrors('familyName')}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="form-label" for="username">Username</label>
                                <input
                                        class="form-control"
                                        th:field="*{username}"
                                        id="username"
                                        name="username"
                                        type="text">
                                <div class="text-danger form-text"
                                     th:errors="*{username}"
                                     th:if="${#fields.hasErrors('username')}"></div>
                            </div>

                            <div class="form-group ">
                                <label class="form-label" for="email">Email</label>
                                <input
                                        class="form-control"
                                        th:field="*{email}"
                                        id="email"
                                        name="email"
                                        type="email">
                                <div class="text-danger form-text"
                                     th:errors="*{email}"
                                     th:if="${#fields.hasErrors('email')}"></p>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="form-label" for="password">Password</label>
                                <input
                                        class="form-control"
                                        th:field="*{password}"
                                        id="password"
                                        name="password"
                                        type="password">
                                <div class="text-danger form-text"
                                     th:errors="*{password}"
                                     th:if="${#fields.hasErrors('password')}">
                                </div>
                            </div>

                            <div class="d-flex flex-column gap-2">
                                <button class="btn btn-primary" th:href="@{/register}" type="submit">Register
                                </button>

                                <button class="btn btn-outline-dark" th:href="@{/login}" type="submit">Already have
                                    an
                                    account?
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
